/* FOR GLOBAL STYLES*/

:root {
  --bg-color: white;
  --text-color: black;
  --button-bg: #098200;
  --button-bg-hover: #30b400;
  --button-hover: #7b7b7b;
  --card-color: #a9a9a9;
}

@media (prefers-color-scheme: dark) {
:root {
  --bg-color: rgb(45, 45, 45);
  --text-color: white;
  --button-bg: #098200;
  --button-bg-hover: #30b400;
  --button-hover: #ddd;
  --card-color: #808080;
}
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 2rem;
  font-weight: 100;
}

span {
  cursor: pointer;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.button-main {
  color: var(--text-color);
  background-color: var(--button-bg);
  border: none;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: .5rem;

  width: max-content;
  height: max-content;
  min-width: 5rem;
  min-height: 1.1rem;
  box-sizing: border-box;
}

.button-main:hover {
  background-color: var(--button-bg-hover);
  cursor: pointer;
}

.button-secondary {
  border: var(--text-color) 2px solid;
  background-color: transparent;
  text-align: center;
  padding: .5rem 1rem;
  border-radius: .5rem;
  
  color: var(--text-color);
  width: max-content;
  height: max-content;
  min-width: 5rem;
  min-height: 1.1rem;
  box-sizing: border-box;
}

.button-secondary:hover {
  border: var(--button-hover) 2px solid;
  color: var(--button-hover);
  cursor: pointer;
}

.button-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scale: 1;
}

.error{
  color: red;
}

.svg{
  max-width: 2rem;
}